/*================================================================
  #GENERAL
  ================================================================*/
body {
  /* background-color: #FAFAFA; */
  
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-image: url(../media/bg/trianglify-gray.svg);
}
a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  color: #757575;
}
a:hover {
  color: #FFB300 !important;
  text-decoration: none;
}
.disable {
  color: #E0E0E0 !important;
}
#page {
  background-color: #fff;
  position: relative;
}
@media (min-width: 992px) {
  #page {
    margin: 48px auto;
  }
}
@media (min-width: 1200px) {
  #page {
    margin: 96px auto;
    max-width: 1060px;
  }
}
.cv-section {
  margin: 0 auto;
  padding: 60px 0;
  border-top: 1px solid #E0E0E0;
  position: relative;
  *zoom: 1;
}
.cv-section:before,
.cv-section:after {
  content: "";
  display: table;
}
.cv-section:after {
  clear: both;
}
.cv-section-fullw {
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 992px) {
  .cv-section-fullw {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .cv-section-fullw {
    width: 1060px;
  }
}
.fullw {
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 992px) {
  .fullw {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .fullw {
    width: 1060px;
  }
}
.multi-column .cv-item {
  margin-bottom: 24px;
}
@media (min-width: 992px) {
  .multi-column .cv-item {
    margin-bottom: 0;
  }
}
.multi-column > div:last-child .cv-item {
  margin-bottom: 0;
}
/*================================================================
  #HEADER
  ================================================================*/
#header h1,
#header h2 {
  font-weight: 300;
}
#header > .cv-section {
  border-top: 10px solid #757575;
  border-bottom: 1px solid #E0E0E0;
}
#header .img-profile {
  text-align: center;
}
#header .social-box {
  height: 32px;
  width: 192px;
}
@media print {
  #header .social-box {
    display: none;
  }
}
#header .social-box i {
  width: 32px;
  height: 32px;
  display: block;
  text-align: center;
  line-height: 32px;
  font-size: 16px;
  float: left;
  color: #FAFAFA;
  background-color: #424242;
  margin-right: 8px;
  margin-bottom: 8px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#header .social-box i:hover {
  background-color: #FFB300;
}
#header .social-box a:last-child i {
  margin-right: 0;
}
 /*================================================================
  #HEADER - header-min
  ================================================================*/
.header-min .right {
  text-align: center;
  margin-top: 8px;
}
@media (min-width: 992px) {
  .header-min .right {
    text-align: left;
  }
}
.header-min .social-box {
  padding-top: 12px;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .header-min .social-box {
    margin: 0;
  }
}

/*================================================================
  #CONTENT
  ================================================================*/
#content > .cv-section:first-child {
  border-top: 0;
}
.content h2 {
  margin: 0;
  font-size: 23px;
  font-weight: 300;
  color: #BDBDBD;
  margin-bottom: 48px;
}
.content h3 {
  margin-top: 0px;
  font-size: 18px;
  font-weight: bold;
}
.content h4 {
  font-size: 14px;
}
.content .fa {
  color: #757575;
}
.cv-item {
  *zoom: 1;
}
.cv-item:before,
.cv-item:after {
  content: "";
  display: table;
}
.cv-item:after {
  clear: both;
}
.cv-item + .cv-item {
  border-top: 1px solid #E0E0E0;
  margin-top: 48px;
  padding-top: 48px;
}
.cv-item.list {
  border: none;
  margin: 0;
  padding-top: 24px;
  
  
}
.cv-item.list:first-child {
  padding-top: 0;
}
.cv-item.list h3 {
  font-weight: normal;
}
@media (min-width: 992px) {
  .cv-item.list:last-child h3 {
    margin: 0;
  }
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
li:before {
  font-family: 'FontAwesome';
  font-size: 7px;
  content: "";
  margin-right: 8px;
  top: -2px;
  position: relative;
  color: #757575;
}
/*================================================================
  #FOOTER - copyright
  ================================================================*/
.copyright {
  height: 48px;
  margin: 0 auto;
  background-color: #9E9E9E;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .copyright {
    width: 944px;
  }
}
.copyright p {
  text-align: center;
  color: #FAFAFA;
  line-height: 48px;
  font-size: 13px;
}
/*================================================================
  #FOOTER contact
  ================================================================*/
#contact-section {
  top: 244px;
  position: fixed;
  z-index: 1025;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid #E0E0E0;
  padding: 24px;
  width: 324px;
  right: -324px;
}
@media print {
  #contact-section {
    display: none;
  }
}
#contact-section .contact-welcome {
  margin-bottom: 24px;
}
#contact-section-second input,
#contact-section-second textarea {
  margin-bottom: 12px;
}
#contact-section-second input + .error-msg,
#contact-section-second textarea + .error-msg {
  margin: 0;
}
#contact-section-second h2 {
  margin-bottom: 24px;
}
#contact-section .panel-title,
#contact-section-second .panel-title {
  text-transform: uppercase;
}
#contact-section input,
#contact-section-second input,
#contact-section textarea,
#contact-section-second textarea {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#contact-section textarea,
#contact-section-second textarea {
  resize: none;
}
#contact-section .form-control:focus,
#contact-section-second .form-control:focus {
  border-color: #FFB300;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(255, 179, 0, 0.6);
  box-shadow: 0px 0px 1px 1px rgba(255, 179, 0, 0.6);
}
#contact-section .form-group,
#contact-section-second .form-group {
  margin-bottom: 12px;
}
#contact-section [type="submit"],
#contact-section-second [type="submit"] {
  background-color: #757575;
  color: #FFF;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#contact-section [type="submit"]:hover,
#contact-section-second [type="submit"]:hover {
  background-color: #FFB300;
}
#contact-section .form-group:last-child,
#contact-section-second .form-group:last-child {
  margin-bottom: 0;
}
/*================================================================
  #ADDON
  ================================================================*/
.addon .addon-left {
  left: 0;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}
.addon .addon-right {
  right: 24px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.addon .settings-btn,
.addon .contact-btn,
.addon .to-top-btn,
.addon .print-btn,
.addon .download-btn {
  background-color: #FFF;
  text-align: center;
  line-height: 48px;
  font-size: 24px;
  display: block;
  width: 48px;
  height: 48px;
  color: #757575;
  position: fixed;
  display: none;
}
@media print {
  .addon .settings-btn,
  .addon .contact-btn,
  .addon .to-top-btn,
  .addon .print-btn,
  .addon .download-btn {
    display: none;
  }
}
@media (min-width: 1200px) {
  .addon .settings-btn,
  .addon .contact-btn,
  .addon .to-top-btn,
  .addon .print-btn,
  .addon .download-btn {
    display: block;
  }
}
.addon .contact-btn {
  top: 192px;
}
.addon .to-top-btn {
  bottom: 152px;
}
.addon .print-btn {
  bottom: 100px;
}
.addon .download-btn {
  bottom: 48px;
}
/*================================================================
  #VENDOR - magnific-popup
  ================================================================*/
.mfp-wrap {
  overflow-y: scroll !important;
}
.mp-caption {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
.mfp-zoom {
  display: block;
  margin: 0 auto;
}
.mfp-title {
  padding: 6px 0;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-with-zoom.mfp-removing.mfp-bg,
.mfp-with-zoom.mfp-removing .mfp-container {
  opacity: 0;
}
/*================================================================
  #VENDOR - validation
  ================================================================*/
label.error-msg {
  color: #D32F2F;
  font-weight: normal;
  margin-top: 12px;
  padding-left: 4px;
}
/*================================================================
  #VENDOR - bootstrap
  ================================================================*/
#form-error-modal,
#form-success-modal {
  display: none;
}
#form-error-modal .modal-content,
#form-success-modal .modal-content {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.modal-backdrop {
  background: rgba(252, 252, 252, 0.9);
}
body.modal-open {
  padding-right: 0 !important;
}
#form-success-alert,
#form-error-alert {
  border: none;
  margin-top: 24px;
  margin-bottom: 0px;
}
/*================================================================
  #VENDOR - google map
  ================================================================*/
.gmap {
  height: 353.33333333px;
  background-color: #fcfcfc;
}

/*================================================================
  #FIX - layout
  ================================================================*/
.cv-section-fullw + .cv-section {
  border-top: 0;
}
#gmap + .copyright {
  margin-left: -15px;
  margin-right: -15px;
  border-radius: 0;
}
@media (min-width: 992px) {
  #gmap + .copyright {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #gmap + .copyright {
    width: 1060px;
  }
}
/*================================================================
  #FIX - print
  ================================================================*/
@media print {
  a[href]:after {
    content: none !important;
  }
  .img-circle {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .cv-section {
    padding: 44px 0;
  }
}
